@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Rubik:400,500');

/* CSS Secrets: Fancy ampersands */

@font-face {
	font-family: Ampersand;
	src: url('../fonts/LibreBaskerville-Italic.otf');
	unicode-range: U+26;
}

:root {
    --light-grey: #F8F9FA;
    --subtle-grey: #F1F3F5;
    --grey: #969696;
    --dark-grey: #707070;
    --darkest-grey: #343A40;
    --blue: #228AE6;
    --light-blue: #3EA1EE;
}

* {
    box-sizing: border-box;
}

html {
    background: var(--light-grey);
}

body {
    margin: 0;
    font-size: 1em;
    color: var(--grey);
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 4em;
}

h1 {
    font-family: Ampersand, 'Lato', sans-serif;
    color: var(--darkest-grey);
    font-weight: 500;
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

header, body > nav:first-of-type {
    font-weight: 700;
    border-bottom: 2px solid var(--subtle-grey);
}

header h1 {
    color: var(--blue);
    font-size: 1.6em;
}

header {
  grid-column: 1/3;
  background: #fff;
  padding: 0 1.5em;
  width: 100%;
}

/* MODULE: Navigatie */

body > nav:first-of-type {
    min-height: 90vh;
    border-right: 2px solid var(--subtle-grey);
    border-bottom: none;
    min-width: 13em;
}

body > nav:first-of-type h1 {
    display: none;
}

body > nav ul {
    list-style: none;
    margin: 0;
    padding: 2em 0;
}

nav ul ul {
    padding: 0;
}

ul, 
ul li a {
    color: var(--dark-grey);
    text-decoration: none;
    display: block;
}

ul li a:hover {
    color: var(--blue);
}

ul li {
    padding: .5em 2em;
    display: block;
}

ul ul li {
    padding: .5em 1em;
}

body > nav:first-of-type > ul > li:first-child {
    background: #fff;
}

body > nav:first-of-type > ul > li:first-child a {
    color: var(--blue);
}

ul li p {
    color: var(--grey);
}

/* CSS Secrets: De-emphasize by dimming */

dialog {
    display: none;
    background: transparent;
}

dialog:target {
    position: fixed;
    display: grid;
    place-items: center center;
    height: 100%;
    width: 100%;
}

dialog > a {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

dialog div {
    padding: 3em;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.8);
}

/* Main */

main {
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    grid-gap: 3em;
    max-width: 45em;
    margin: 4em 3em;
}

main section:nth-child(1), 
main section:nth-child(2) {
    grid-column: 1/3
}   

/* Block styling */

article, 
section > div {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    overflow: hidden;
    position: relative;
}

div h1 {
    text-align: center;
}

div > ol, 
main section:nth-child(4) div > form {
    width: calc(100% - 2em);
    margin: 0 auto;
    border-top: 1px solid var(--subtle-grey);
}

form button{
    background: var(--blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    padding: .5em 1em;
}

button:hover {
    background: var(--light-blue);
}

/* MODULE: Media item */

article div h1 {
    text-align: left;
}

article img {
    position: absolute;
    width: 45%;
    top: 50%;
    transform: translatey(-50%);
}

article div {
    margin-right: auto;
    position: relative;
    left: 100%;
    transform: translatex(-100%);
    width: 55%;
    padding: 1em .5em 1.5em 1.5em;
}

article div p {
    line-height: 1.75em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

article div a,
div form a {
    font-size: .8em;
    color: var(--light-blue);
}

article div a:hover,
div form a:hover {
    text-decoration: underline;
}

/* MODULE: Step indicator */

div nav {
    padding: 0 2em;
    text-align: center;
}

progress {
    width: 95%;
	-webkit-appearance: none;
    border: none;
    margin-top: 1em;
}

progress::-webkit-progress-bar {
    background: var(--subtle-grey);
    height: 8px;
}

progress::-webkit-progress-value {
	background: var(--light-blue);
}

nav ol {
    display: flex;
    justify-content: space-between;
    list-style: none;
    counter-reset: li;
    padding: 0;
}

nav ol li {
    counter-increment: li;
    position: relative;
}

nav ol li:before {
    content: counter(li); 
    color: #fff;
    position: absolute;
    transform: translate(-.8em, -3em);
    left: 50%;
    background: var(--light-blue);
    border-radius: 100%;
    width: 2em;
    height: 2em;
    line-height: 2em;
}

li:nth-child(4):before {
    background: var(--subtle-grey);
    color: var(--grey);
}

nav ol li a {
    color: var(--dark-grey);
}

nav ol li a:hover {
    color: var(--blue);
}

/* MODULE: Chat */

div ol {
    list-style: none;
    padding: 0;
}

main section:nth-child(3) div ol li {
    margin: 1em 0;
}

main section:nth-child(3) div ol li:nth-child(odd) {
    text-align: right;
}

div ol li > p {
    background: var(--subtle-grey);
    padding: .5em 1em;
    display: inline-block;
    color: var(--dark-grey);
    border-radius: 10px 10px 10px 0;
    margin-bottom: 0;
}

div ol li:nth-child(odd) > p {
    background: var(--blue);
    color: #fff;
    border-radius: 10px 10px 0 10px;
}

footer p {
    margin: 0;
    font-size: .8em;
    color: var(--grey);
}

/* CSS Secrets: Vertical centering */

section:nth-child(3) div form {
    background: var(--subtle-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

section:nth-child(3) div form label {
    display: none;
}

section:nth-child(3) div form textarea {
    background: transparent;
    border: none;
    font-size: 1em;
    padding: 1em;
    width: 75%;
    height: 3em;
    resize: none;
}

/* MODULE: Login */

section:nth-child(4) div form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.8rem;
    padding: 1em 0;
}

section:nth-child(4) div form label,  
section:nth-child(4) div form input, 
section:nth-child(4) div form button {
    grid-column: span 2;
    font-size: 1em;
}

section:nth-child(4) div form label {
    color: var(--dark-grey);
}

input:not([type="checkbox"]) {
    background: var(--subtle-grey);
    border: none;
    padding: 1em;
    border-radius: 3px;
    color: var(--grey);
    transition: .2s;
}

input:not([type="checkbox"]):focus {
    outline: none;
    padding-left: 1.3em;
    color: var(--darkest-grey);
    transition: .2s;
}

input[type="email"]:valid {
    color: var(--darkest-grey);
}

div form a {
    text-align: right;
}

div form span {
    font-size: .8em;
}

label:hover, button:hover {
    cursor: pointer;
}